.footerContain
{
    position: relative;
    margin-top: 150px;
    width: 98vw;
    height: 35vh;
    background-color: #fdb316;
}

.USTP_Logo_footer
{
    position: absolute;
    top: 5vh;
    bottom: 10vh;
    left: 5vw;
    width: 10vw;
    height: 20vh;
}

/*Contact Footer Design */
.USTP_Info_footer
{
    position: absolute;
    top: 5vh;
    bottom: 10vh;
    left: 15vw;
}

.USTP_Info_footer p
{   
    font-size: 17px;
    color: white;
}

.HoriLine
{
    position: absolute;
    top: 5vh;
    right: 45vw;
    border-left: 2px solid white;
    height: 25vh;
}

/*Other Page Footer Design */
.USTP_Link_footer
{
    position: absolute;
    top: 5vh;
    right: 25vw;
}

.USTP_Link_footer p
{
    color: white;
    font-size: 20px;
}

.USTP_Link_footer ul
{
    display: flex;
    flex-direction: column;
}

.USTP_Link_footer li a
{
    color: white;
    font-size: 20px;
}

.USTP_Link_footer li a:hover
{
    text-decoration: underline;
    cursor: pointer;
}

.HoriLine2
{
    position: absolute;
    top: 5vh;
    right: 20vw;
    border-left: 2px solid white;
    height: 25vh;
}

/*Other Website Footer Design */
.USTP_OtherWeb_footer
{
    position: absolute;
    top: 5vh;
    right: 5vw;
}

.USTP_OtherWeb_footer p
{
    color: white;
    font-size: 20px;
}

.USTP_OtherWeb_footer ul
{
    display: flex;
    flex-direction: column;
}

.USTP_OtherWeb_footer li
{
    color: white;
    font-size: 20px;
}

.USTP_OtherWeb_footer li:hover
{
    text-decoration: underline;
    cursor: pointer;
}